@page "/"

<div class="container-fluid d-flex mt-1" style="background-color: #ffffff; ">
    <div class="dropdown border border-info me-1">
        <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="/image/folder.png" alt="Mô tả ảnh" style="width: 20px; height: 20px; margin-right: 8px;">
            File
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li><a class="dropdown-item" href="#">Dropdown link 1</a></li>
            <li><a class="dropdown-item" href="#">Dropdown link 2</a></li>
        </ul>
    </div>
    <div class="dropdown border border-info me-1">
        <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="/image/clipboard.png" alt="Mô tả ảnh" style="width: 20px; height: 20px; margin-right: 8px;">
            Edit
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
            <li>
                <a class="dropdown-item" href="#">
                    <img src="đường_dẫn_đến_ảnh_của_bạn.png" alt="Mô tả ảnh" style="width: 20px; height: 20px; margin-right: 8px;">
                    Dropdown link 1
                </a>
            </li>
            <li>
                <a class="dropdown-item" href="#">
                    <img src="~/favicon.png" alt="Mô tả ảnh khác" style="width: 20px; height: 20px; margin-right: 8px;">
                    Dropdown link 2
                </a>
            </li>
        </ul>
    </div>
    <div class="dropdown border border-info me-1">
        <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="/image/settings.png" alt="Mô tả ảnh" style="width: 20px; height: 20px; margin-right: 8px;">
            Setting
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li><a class="dropdown-item" href="#">Dropdown link 1</a></li>
            <li><a class="dropdown-item" href="#">Dropdown link 2</a></li>
        </ul>
    </div>
    <div class="dropdown border border-info me-1">
        <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="/image/tools.png" alt="Mô tả ảnh" style="width: 20px; height: 20px; margin-right: 8px;">
            Tools
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li><a class="dropdown-item" href="#">Dropdown link 1</a></li>
            <li><a class="dropdown-item" href="#">Dropdown link 2</a></li>
        </ul>
    </div>
    <button type="button" class="btn btn-light border border-info me-1">
        <img src="/image/download.png" alt="Mô tả ảnh" style="width: 20px; height: 20px; margin-right: 8px;">
        About
    </button>
    <button type="button" class="btn btn-light border border-info me-1">Update new program</button>
    <div class="dropdown border border-info me-1">
        <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">            
            Language
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li><a class="dropdown-item" href="#">Dropdown link 1</a></li>
            <li><a class="dropdown-item" href="#">Dropdown link 2</a></li>
        </ul>
    </div>
    <button type="button" class="btn btn-light border border-info me-1">
        <img src="/image/vietnam.png" alt="Mô tả ảnh" style="width: 20px; height: 20px; margin-right: 8px;">
        VietNamese
    </button>
 </div>

<div class="container-fluid mt-1 d-flex" style="background-color:#004040; height:95%">
    <div class="row border border-info">
        <div class="col-4 border border-info">
            <h7 class="text-warning">Informations</h7>
            <div class="row ">
                <div class="row mb-3">
                    <label class="col-4 col-form-label text-white">SECTION</label>
                    <div class="col-8">
                        <select class="form-select w-100" aria-label="Default select example">
                            <option selected>FINAL CLEANING</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                </div>

                <div class="row mb-3">
                    <label class="col-4 col-form-label text-white">CHK</label>
                    <div class="col-8">
                        <select class="form-select" aria-label="Default select example">
                            <option selected>FINAL CLEANING</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                </div>

                <div class="row mb-3">
                    <label class="col-4 col-form-label text-white">ITEM</label>
                    <div class="col-8">
                        <select class="form-select" aria-label="Default select example">
                            <option selected>FINAL CLEANING</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                </div>

                <div class="row mb-3">
                    <label class="col-4 col-form-label text-white">DRAW BY</label>
                    <div class="col-8">
                        <select class="form-select" aria-label="Default select example">
                            <option selected>FINAL CLEANING</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                </div>

                <div class="row mb-3">
                    <label class="col-4 col-form-label text-white">PDMC</label>
                    <div class="col-4">
                        <select class="form-select" aria-label="Default select example">
                            <option selected>FINAL CLEANING</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                    <div class="col-4">
                        <select class="form-select" aria-label="Default select example">
                            <option selected>FINAL CLEANING</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <label class="text-success fs-2">ONLINE</label>
                </div>
                <div class="col-6">
                    <label class="text-warning fs-2">2PL-3101</label>
                </div>                    
            </div>

           <div class="row">
                <hr style="border: none; height: 5px; background-color: red; margin: 10px 10px;">
               <div class="col-4">
                    <label class="text-light fs-6">Measuring type</label>
               </div>
               <div class="col-4">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                        <label class="form-check-label text-warning fs-6" for="flexRadioDefault1">
                            Production
                        </label>
                    </div>
               </div>
                <div class="col-4">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                        <label class="form-check-label text-warning fs-6" for="flexRadioDefault1">
                            Test
                        </label>
                    </div>
                </div>
                <hr style="border: none; height: 5px; background-color: red; margin: 10px 10px;">
           </div>
           <div class=" border border-info text-light">
                <table class="w-100">
                    <tr >
                        <th>PARAM</th>
                        <th>LSL</th>
                        <th>ALL</th>
                        <th>AUL</th>
                        <th>USL</th>
                    </tr>
                    <tr class="text-warning">
                        <td>FA</td>
                        <td></td>
                        <td></td>
                        <td>6</td>
                        <td>7</td>
                    </tr>
                    <tr class="text-warning">
                        <td>FATY</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="text-warning">
                        <td>FB</td>
                        <td></td>
                        <td></td>
                        <td>6</td>
                        <td>7</td>
                    </tr>
                    <tr class="text-warning">
                        <td>FBTY</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
           </div>
           <div class="row">
               <div class="row">
                   <div class="col-6">
                        <label class="text-light fs-6">User Name</label>
                   </div>
                    <div class="col-6">
                        <label class="text-warning fs-6">hy20252627</label>
                    </div>
               </div>
                <div class="row">
                    <div class="col-6">
                        <label class="text-light fs-6">Group</label>
                    </div>
                    <div class="col-6">
                        <label class="text-warning fs-6">B</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <label class="text-light fs-6">Shift</label>
                    </div>
                    <div class="col-6">
                        <label class="text-warning fs-6">NIGHT</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <label class="text-light fs-6">Factory</label>
                    </div>
                    <div class="col-6">
                        <label class="text-warning fs-6">II</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <label class="text-light fs-6">QC Machine</label>
                    </div>
                    <div class="col-6">
                        <label class="text-warning fs-6">OPTIFLAT#304</label>
                    </div>
                </div>
           </div>
         </div>
         <div class="col-8 ">
            <div data-bs-spy="scroll"
                 data-bs-target="#navbar-example2"
                 data-bs-offset="0"
                 class="scrollspy-example w-100"
                 tabindex="0"
                 style="overflow-x:auto;
                 height:50%;">

                <table class="table table-bordered text-light" style="min-width: 1500px;">
                    <tr>
                        <th>SlipNo</th>
                        <th>IsDisk</th>
                        <th>Judge</th>
                        <th>Flat_A</th>
                        <th>Flat_B</th>
                        <th>DiskNo</th>
                        <th>Date_Time</th>
                        <th>Item</th>
                        <th>Process</th>
                        <th>Value&nbsp;1</th>
                        <th>Value&nbsp;2</th>
                        <th>Value&nbsp;3</th>
                        <th>Value&nbsp;4</th>
                        <th>Value&nbsp;5</th>
                        <th>Value&nbsp;6</th>
                        <th>Value&nbsp;7</th>
                        <th>Value&nbsp;8</th>
                        <th>Value&nbsp;9</th>
                        <th>Value&nbsp;10</th>
                        <th>Value&nbsp;11</th>
                        <th>Value&nbsp;12</th>
                        <th>Value&nbsp;13</th>
                        <th>Value&nbsp;14</th>
                        <th>Average&nbsp;Value</th>
                    </tr>
                </table>

            </div>

            <div style="background-color: #ffffff; height:50%;">

             </div>
         </div>
     </div>
</div>

<style>
    .nowrap-table th,
    .nowrap-table td {
        white-space: nowrap;
    }
</style>

@code {

}
