@inherits LayoutComponentBase

<PageTitle>MyProject</PageTitle>
<div class="container-fluid d-flex flex-column vw-100 vh-100">
    <main class="flex-fill container-fluid">
        @Body
    </main>
</div>
